BOT_TOKEN=
BASE_URL=
TRAEFIK_DYNAMIC_FILE=./infra/traefik/dynamic/local.yml
TRAEFIK_ENABLE_LETSENCRYPT=false
LETSENCRYPT_EMAIL=
TRAEFIK_DASHBOARD=false
TRAEFIK_LOG_LEVEL=INFO

DATABASE_SYSTEM=postgresql
DATABASE_DRIVER=asyncpg
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_PORT=5432
DATABASE_HOST=localhost

TON_MASTER_MNEMONICS=
MASTER_MNEMONICS=
ETH_RPC_URL=
BNB_RPC_URL=

ALCHEMY_NOTIFY_TOKEN=
ETH_ALCHEMY_WEBHOOK_ID=
ETH_ALCHEMY_WEBHOOK_SECRET=
BNB_ALCHEMY_WEBHOOK_ID=
BNB_ALCHEMY_WEBHOOK_SECRET=

TONCONSOLE_API_KEY=
TONCONSOLE_WEBHOOK_PATH=/webhook/ton

REDIS_URL=redis://localhost:6379
