BOT_TOKEN=
BASE_URL=
TRAEFIK_DYNAMIC_FILE=./infra/traefik/dynamic/local.yml
TRAEFIK_ENABLE_LETSENCRYPT=false
LETSENCRYPT_EMAIL=
TRAEFIK_DASHBOARD=false
TRAEFIK_LOG_LEVEL=INFO

DATABASE_SYSTEM=postgresql
DATABASE_DRIVER=asyncpg
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_PORT=5432
DATABASE_HOST=localhost

REDIS_URL=redis://localhost:6379
